@model IEnumerable<test.Models.Report>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center"><i class="fas fa-chart-area mr-2"></i>Reports Management</h1>

<div id="partial-view">
    @await Html.PartialAsync("_ReportList", Model)
</div>



