
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <h5 class="text-dark">You don't have permission to access this page</h5>
    <img src="~/img/denied.png" alt="No Access" style="height:256px; width:256px"/>
    <hr />
</div>


