
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/lib/bootswatch/bootstrap.css" rel="stylesheet" />

<h1>@ViewBag.ErrorMessage</h1>

<a asp-action="RoleList" asp-controller="Administration" asp-area="Admin" style="text-decoration: none">Click here to return to homepage</a>
