@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<link href="~/lib/bootswatch/bootstrap.css" rel="stylesheet" />


<p>Use this page to detail your site's privacy policy.</p>
