@model IEnumerable<Customer>

    <link href="~/lib/bootswatch/bootstrap.css" rel="stylesheet" />


    <h1 style="margin: 50px;" class="text-center text-black-50">
        <i class="fas fa-user-tie text-success mr-3"> </i>
        Customer Management
    </h1>

    
    
    <div class="text-left">

        <form class="form-inline mr-auto w-100 navbar-search" method="get" asp-action="Index">
            <div class="input-group">
                <input type="text" class="form-control bg-light border-dark small"
                       placeholder="Enter data ID..." aria-label="Search"
                       aria-describedby="basic-addon2" value="@ViewData["GetDetails"]" name="text" style="width:auto;">
                <div class="input-group-append">
                    <button class="btn btn-sm" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <hr/>

    <div id="partial-view">
        @await Html.PartialAsync("_CustomerList", Model)
    </div>


